{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comentarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>Valoracion</th>
                <th>Visible</th>
                <th>Idcomentario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td><a href="{{ path('comentario_show', { 'idcomentario': comentario.idcomentario }) }}">{{ comentario.comentario }}</a></td>
                <td>{% if comentario.fecha %}{{ comentario.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ comentario.valoracion }}</td>
                <td>{% if comentario.visible %}Yes{% else %}No{% endif %}</td>
                <td>{{ comentario.idcomentario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comentario_show', { 'idcomentario': comentario.idcomentario }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comentario_edit', { 'idcomentario': comentario.idcomentario }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comentario_new') }}">Create a new comentario</a>
        </li>
    </ul>
{% endblock %}
