{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mesa</h1>

    <table>
        <tbody>
            <tr>
                <th>Ncomensales</th>
                <td>{{ mesa.ncomensales }}</td>
            </tr>
            <tr>
                <th>Ubicacion</th>
                <td>{{ mesa.ubicacion }}</td>
            </tr>
            <tr>
                <th>Idmesa</th>
                <td>{{ mesa.idmesa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mesa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mesa_edit', { 'idmesa': mesa.idmesa }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
