{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">


        <div class="alert alert-success">
            <h1> {{titulo}}</h1>
        </div>
        
        <a href="{{ path(nombreruta~'_new') }}" class="btn btn-success btn-bg">Crear un nuevo registro</a>&nbsp&nbsp &nbsp &nbsp  
        <a href="{{ path('tablas') }}" class="btn btn-success btn-bg">volver</a> 
        </br></br> 
        <table border="1">
            <thead>
                <tr>
                    {% set cabeceras = cabeceras|merge(['Opciones']) %}
                    {% for dato in cabeceras %}
                        <th>{{dato}}</th>
                    {% endfor %}

                </tr>
            </thead>

            <tbody>
                {% for cargo in datos %}
                    
                    <tr>
                        {% set identificador = { (nombreparametro) : attribute(cargo,campoclave)} %}

                        {% for i in 0..campos|length-1 %}
                            {% if tipos[i]=='d' %}
                             
                                <td><a href="{{ path(nombreruta~'_show',  identificador  ) }}">  {{attribute(cargo,campos[i])|date('Y-m-d H:i:s') }}  </a></td>
 
                            
                            {% else %}
                                {% if tipos[i]=='h' %}
             
                                 
 
                            
                              {% else %}
                                  
                                <td><a href="{{ path(nombreruta~'_show',  identificador  ) }}">  {{attribute(cargo,campos[i])}}  </a></td>
 
                              {% endif %}
                            
                            {% endif %}
                             
                        {% endfor %}


                        <td>
                            
                            <a href="{{ path(nombreruta~'_show',    identificador ) }}" class="btn btn-success btn-bg">Ver</a>
                            <a href="{{ path(nombreruta~'_edit',    identificador ) }}" class="btn btn-success btn-bg">Modifica</a>
                            <a href="{{ path(nombreruta~'_delete',  identificador ) }}" class="btn btn-success btn-bg">Borra</a>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

       {% include 'footer.html.twig' %}

    </div>
{% endblock %}
{#  
<td><a href="{{ path(nombreruta~'_show',  identificador  ) }}"> 
                                          {% if   {{attribute(cargo,campos[i])}}  %}
                                              Si
                                          {% else %}
                                              No
                                          {% endif %}  
                                     </a></td>

|localizeddate('long', 'short')
#}

