{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservaplatos list</h1>

    <table>
        <thead>
            <tr>
                <th>Idreservaplato</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservaplato in reservaplatos %}
            <tr>
                <td><a href="{{ path('reservaplato_show', { 'idreservaplato': reservaplato.idreservaplato }) }}">{{ reservaplato.idreservaplato }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservaplato_show', { 'idreservaplato': reservaplato.idreservaplato }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservaplato_edit', { 'idreservaplato': reservaplato.idreservaplato }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservaplato_new') }}">Create a new reservaplato</a>
        </li>
    </ul>
{% endblock %}
