{% extends 'base.html.twig' %}

{% block body %}

    <body>

        {{ parent() }}


        <!--  start featured dishes  -->
        <section class="featured_dishes">
            <div class="wrapper">
                <section class="info">
                    <div class="title">
                        <h3>Platos destacados</h3>
                        <span class="separator"></span>
                    </div>
                    <div class="slider_nav" id="slider_nav">
                    </div>
                </section>

                <section class="dishes" id="dishes">

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish1.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Fugiat nulla sint</h2></a>
                            <h3>$30</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish2.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Daute irure dolor</h2></a>
                            <h3>$24</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish3.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Officia deserunt mollit</h2></a>
                            <h3>$60</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish4.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Pim minim veniam</h2></a>
                            <h3>$17</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish1.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Fugiat nulla sint</h2></a>
                            <h3>$30</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish2.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Daute irure dolor</h2></a>
                            <h3>$24</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish3.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Officia deserunt mollit</h2></a>
                            <h3>$60</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish4.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Pim minim veniam</h2></a>
                            <h3>$17</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish1.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Fugiat nulla sint</h2></a>
                            <h3>$30</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish2.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Daute irure dolor</h2></a>
                            <h3>$24</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish3.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Officia deserunt mollit</h2></a>
                            <h3>$60</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </article>

                    <article>
                        <div class="dishe_img">
                            <a href="#"><img src="img/dish4.jpg" alt="" title=""/></a>					
                        </div>
                        <div class="dish_info">
                            <a href="#"><h2>Pim minim veniam</h2></a>
                            <h3>$17</h3>
                        </div>
                        <ul class="rating">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="no-star"></li>
                        </ul>
                    </article>

                </section>
            </div>
        </section><!--  end featured_dishes  -->


        <!--  start menu  -->
        <section class="menu">
            <div class="wrapper">
                <div class="menu_title">
                    <h2>Menú del día</h2>
                    <h2>{{precio.precio}} €</h2>
                </div>

                <div class="mean_menu">
                    <!--  left menu row  -->
                    <article class="lmenu">
                        <ul>
                            <li>
                                <div class="item_info">

                                    <h3 class="item_name">PRIMEROS PLATOS</h3>
                                    {% for cargo in menu1 %}
                                        <p class="item_desc">{{ cargo.nombreplato_es }}</p>
                                    {% endfor %}

                                </div>

                                <span class="separator"></span>
                            </li>
                            <li>
                                <div class="item_info">

                                    <h3 class="item_name">SEGUNDOS PLATOS</h3>
                                    {% for cargo in menu2 %}
                                        <p class="item_desc">{{ cargo.nombreplato_es }}</p>
                                    {% endfor %}

                                </div>

                                <span class="separator"></span>
                            </li>
                            <li>
                                <div class="item_info">
                                    <h3 class="item_name">POSTRES</h3>
                                    {% for cargo in menu3 %}
                                        <p class="item_desc">{{ cargo.nombreplato_es }}</p>
                                    {% endfor %}
                                </div>

                                <span class="separator"></span>
                            </li>

                        </ul>
                    </article>


                    </ul>
                    </article>
                </div>


            </div>
        </section><!--  end menu  -->





        <!--  start gallery  -->
        <section class="gallery">
            <div class="wrapper">
                <section class="info">
                    <div class="title">
                        <h3>Galería</h3>
                        <span class="separator"></span>
                    </div>
                </section>

                <div class="media">
                    <section>
                        <a href="#">
                            <img src="img/img1.jpg" alt="" title=""/>
                        </a>
                    </section>

                    <section>
                        <div class="hhalf">
                            <a href="#">
                                <img src="img/img2.jpg" alt="" title=""/>
                            </a>
                        </div>
                        <div class="hhalf">
                            <a href="#">
                                <img src="img/img3.jpg" alt="" title=""/>
                            </a>
                        </div>
                    </section>

                    <section>
                        <div class="hhalf">
                            <a href="#">
                                <img src="img/img4.jpg" alt="" title=""/>
                            </a>
                        </div>
                        <div class="hhalf">
                            <a href="#">
                                <img src="img/img5.jpg" alt="" title=""/>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </section><!--  end gallery  -->


        {% include 'footer.html.twig' %}



    </body>
</html>



{% endblock %}
