{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menus list</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Cantidadventas</th>
                <th>Idmenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'idmenu': menu.idmenu }) }}">{{ menu.fecha }}</a></td>
                <td>{{ menu.precio }}</td>
                <td>{{ menu.cantidadventas }}</td>
                <td>{{ menu.idmenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menu_show', { 'idmenu': menu.idmenu }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('menu_edit', { 'idmenu': menu.idmenu }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menu_new') }}">Create a new menu</a>
        </li>
    </ul>
{% endblock %}
